.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 88px;
    background-color: red;
  }
  
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 88px;
  }
  
  .header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  
  .header__login {
    margin-right: 3vh;
  }
  
  .header__exit {
    margin-right: 3vh;
  }